@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yt-item-carrousel-size: calc((min(calc(100vw - 200px - 72px - 12px),1478px) - 5 * 24px)/6);
}

body {
  color: #ededed;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}






